In [1]:
import os
os.chdir("C:\\Users\\jaiveer.karra.1\\Desktop")

In [2]:
import pandas as pd
df=pd.read_csv("aapl.csv",parse_dates=["Date"],index_col="Date")
df.head()

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107

In [3]:
df["2017-07-07":"2017-07-01"]

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848

In [4]:
df["2017-06"].head()

              Open    High     Low   Close    Volume
Date
2017-06-30  144.45  144.96  143.78  144.02  23024107
2017-06-29  144.71  145.13  142.28  143.68  31499368
2017-06-28  144.49  146.11  143.16  145.83  22082432
2017-06-27  145.01  146.16  143.62  143.73  24761891
2017-06-26  147.17  148.28  145.38  145.82  25692361

In [5]:
df["2017-06"].Volume.mean()

31099001.636363637

In [6]:
df["Volume"].resample("M").mean()

Date
2016-07-31    3.646981e+07
2016-08-31    2.739689e+07
2016-09-30    4.617282e+07
2016-10-31    3.271020e+07
2016-11-30    3.432798e+07
2016-12-31    2.898913e+07
2017-01-31    2.816656e+07
2017-02-28    3.026150e+07
2017-03-31    2.443875e+07
2017-04-30    1.964758e+07
2017-05-31    2.972831e+07
2017-06-30    3.109900e+07
2017-07-31    1.979447e+07
Freq: M, Name: Volume, dtype: float64

##Holidays Custom

In [7]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [8]:
df.head()

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107

In [9]:
pd.date_range(start="2019-03-01",end="2019-03-31",freq="B")

DatetimeIndex(['2019-03-01', '2019-03-04', '2019-03-05', '2019-03-06',
               '2019-03-07', '2019-03-08', '2019-03-11', '2019-03-12',
               '2019-03-13', '2019-03-14', '2019-03-15', '2019-03-18',
               '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22',
               '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28',
               '2019-03-29'],
              dtype='datetime64[ns]', freq='B')

In [10]:
ush=CustomBusinessDay(calendar=USFederalHolidayCalendar())
ush

In [11]:
pd.date_range(start="2019-03-01",end="2019-03-31",freq=ush)

DatetimeIndex(['2019-03-01', '2019-03-04', '2019-03-05', '2019-03-06',
               '2019-03-07', '2019-03-08', '2019-03-11', '2019-03-12',
               '2019-03-13', '2019-03-14', '2019-03-15', '2019-03-18',
               '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22',
               '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28',
               '2019-03-29'],
              dtype='datetime64[ns]', freq='C')

In [12]:
df1=pd.read_csv("aapl_no_dates.csv")
df1.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [13]:
rng=pd.date_range(start="11-01-2018",end='11-30-2018',freq="B")
rng

DatetimeIndex(['2018-11-01', '2018-11-02', '2018-11-05', '2018-11-06',
               '2018-11-07', '2018-11-08', '2018-11-09', '2018-11-12',
               '2018-11-13', '2018-11-14', '2018-11-15', '2018-11-16',
               '2018-11-19', '2018-11-20', '2018-11-21', '2018-11-22',
               '2018-11-23', '2018-11-26', '2018-11-27', '2018-11-28',
               '2018-11-29', '2018-11-30'],
              dtype='datetime64[ns]', freq='B')

In [14]:
usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [15]:
rng=pd.date_range(start="11-01-2018",end='11-30-2018',freq=usb)
rng

DatetimeIndex(['2018-11-01', '2018-11-02', '2018-11-05', '2018-11-06',
               '2018-11-07', '2018-11-08', '2018-11-09', '2018-11-13',
               '2018-11-14', '2018-11-15', '2018-11-16', '2018-11-19',
               '2018-11-20', '2018-11-21', '2018-11-23', '2018-11-26',
               '2018-11-27', '2018-11-28', '2018-11-29', '2018-11-30'],
              dtype='datetime64[ns]', freq='C')

## Custom Holidays

In [16]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=4, day=24),#, observance=nearest_workday),
    ]
    
my_bday = CustomBusinessDay(calendar=myCalendar())
pd.date_range('4/1/2017','4/30/2017',freq=my_bday)

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-14', '2017-04-17', '2017-04-18',
               '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

## Custom Business Day

In [17]:
egypt_weekdays = "Sun Mon Tue Wed Thu"

b = CustomBusinessDay(weekmask=egypt_weekdays)

pd.date_range(start="7/1/2017",periods=20,freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
               '2017-07-06', '2017-07-09', '2017-07-10', '2017-07-11',
               '2017-07-12', '2017-07-13', '2017-07-16', '2017-07-17',
               '2017-07-18', '2017-07-19', '2017-07-20', '2017-07-23',
               '2017-07-24', '2017-07-25', '2017-07-26', '2017-07-27'],
              dtype='datetime64[ns]', freq='C')

## to_date

In [18]:
dates=["jan-5-2019 12:30:00","12-10-2019 2:30","abc"]
pd.to_datetime(dates,errors="coerce")

DatetimeIndex(['2019-01-05 12:30:00', '2019-12-10 02:30:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
y=pd.Period("2017")
y

Period('2017', 'A-DEC')

In [23]:
y.start_time

Timestamp('2017-01-01 00:00:00')

In [24]:
y.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [26]:
m=pd.Period("2011-12",'M')
m

Period('2011-12', 'M')

In [28]:
m+1

Period('2012-01', 'M')

In [30]:
d=pd.Period("2016-2-28",freq="H")
d

Period('2016-02-28 00:00', 'H')

In [33]:
d+2

Period('2016-02-28 02:00', 'H')

In [34]:
q=pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [35]:
q+1

Period('2017Q2', 'Q-DEC')

In [36]:
q=pd.Period('2017Q1',freq='Q-jan')
q

Period('2017Q1', 'Q-JAN')

In [37]:
q.start_time

Timestamp('2016-02-01 00:00:00')